html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.tree-container {
  position: relative;
  height: 100%;
}
.tree-container .list {
  position: absolute;
  height: 100%;
  top: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.leftlist {
  background-color: lightpink;
}
.middlelist {
  background-color: lightgreen;
}
.rightlist {
  background-color: lightblue;
}
.card {
  width: 100%;
  height: 500px;
  border: dashed black 1px;
}
