.node {
  position: relative;
}
.node .main {
  width: 100%;
}
.node .children {
  position: absolute;
  left: 100%;
  top: 0;
}
.node {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
}
.node .main {
  height: 100%;
  overflow: hidden;
  border: 1px dashed gray;
}
.children.focus {
  width: 800px;
}
.children.focus > .node {
  width: 100%;
  height: auto;
}
.children.focus > .node .main {
  min-height: 50px;
}
.children.focus > .node .main.focus {
  border: 1px solid green;
}
